<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Project Let's Eat </title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/base.css">
    </head>
    <body>
        <h1> Who's Hungry?</h1>
        <form action='/location' method='post'>
            <fieldset>
                <label for='location'> Location</label>
                    <input type='text' placeholder=' your location' name='city_name' required>
                    <input type='submit' value='Find A Meal!' required>
            </fieldset>
        </form>
        <section>
        </section>

        <% favoriteRestaurants.forEach(favoriteRestaurant => { %>
            <div>
                <h1><%= favoriteRestaurant.name %></h1>
                <p>Address: <%= favoriteRestaurant.address %></p>
                <p>Rating: <%= favoriteRestaurant.rating_text %></p>
                <p>Price Range(1-5): <%= favoriteRestaurant.price_range %></p>
                <p>Cuisine: <%= favoriteRestaurant.cuisine %></p>
                <p>Cost for two: <%= favoriteRestaurant.average_cost_for_two %></p>
                <img src="<%= favoriteRestaurant.featured_image %>"/>
                <form action="/delete/<%= favoriteRestaurant.id %>?_method=DELETE" method="post">
                    <input id='deleting' value='Delete' type="submit"> 
                </form>
                <form action="/viewRestaurant" method="GET">
                    <input type="hidden" name="restaurantID" value ="<%= favoriteRestaurant.res_id %>" required>
                    <input type="hidden" name="restaurantName" value ="<%= favoriteRestaurant.name %>" required>
                    <input id='viewDetails' value='View' type="submit"> 
                </form>
            </div>
        <% }) %>
    </body>
</html>