<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Project Let's Eat </title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/base.css">
</head>

<body>

    <h1> <%= restaurant.name %></h1>
    <h1> <%= restaurant.city_name %></h1>
    <p> Address: <%= restaurant.address %></p>
    <p> Cuisine: <%= restaurant.cuisine %></p>
    <p> Rating: <%= restaurant.rating_text %></p>
    <p> Price Range(1-5): <%= restaurant.price_range %></p>
    <p> Cost for two: <%= restaurant.average_cost_for_two %></p>
    <img src='<%= restaurant.featured_image %>' alt=''>
    
    
    <form id='saving' action="/save" method="post">
    <input type="hidden" name="name" value="<%= restaurant.name %>">
    <input type="hidden" name="city_name" value="<%= restaurant.city_name %>">
    <input type="hidden" name="address" value="<%= restaurant.address %>">
    <input type="hidden" name="rating_text" value="<%= restaurant.rating_text %>">
    <input type="hidden" name="cuisine" value="<%= restaurant.cuisine %>">
    <input type="hidden" name="featured_image" value="<%= restaurant.featured_image %>">
    <input type="hidden" name="price_range" value="<%= restaurant.price_range %>">
    <input type="hidden" name="average_cost_for_two" value="<%= restaurant.average_cost_for_two %>">
    <input type="submit" value="Save!">
    </form>
    


</body>

</html>